@font-face {
    font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.shopify.com/s/files/1/0605/4690/8235/files/Gotham-Book.woff?v=1744347428') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.shopify.com/s/files/1/0605/4690/8235/files/Gotham-Medium.woff?v=1744347348') format('woff');
  font-display: swap;
}

