.link {
  @extend .text-button;
  display: inline-flex;
  align-items: center;
  column-gap: 0.375rem;
  color: $bold-sapphire;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  @extend .transition-fast;

  @media (hover: hover) and (pointer: fine) {

    &:hover {
      color: $primary-button-hover;
      text-decoration: underline;
    }
  }

  &:focus,
  &:active,
  &:first-child:active,
  &:focus-visible {
    color: $pacific-blue;
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $disable-text;
    text-decoration: underline;
  }

  &--primary {
    color: $secondary;
    text-decoration: none;

    &:hover {
      text-decoration: none;

      span {
        text-decoration: none;
      }
    }
  }
}
