.pill {
  padding: 0.25rem 0.5rem 0.25rem;
  border: 1px solid $primary;
  border-radius: 9.9rem;
  display: inline-flex;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: $primary;
  font-size: var(--fluid-12-12);
  line-height: 1;

  &-large {
    padding: 0.5rem 0.75rem;
    font-size: var(--fluid-18-20);
    letter-spacing: -0.01em;
    border-color: $primary;
  }

  &--secondary {
    border-color: $secondary;
    color: $secondary;
  }
}