@import './common';

.m-payment-solution {
  &__wrapper {

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: none;
      z-index: -1;
      background: linear-gradient(180deg, #FFFFFF 1%, #F0F4F7 5.29%, #026FAF 71.5%);

      @include media-breakpoint-up(md) {
        background: linear-gradient(180deg, #FFFFFF 1%, #F0F4F7 39.5%, #026FAF 90.5%);
        max-height: 111.875rem;
        height: 200%;
      }
    }

    .eyebrow-with-line {
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 32%;
      }

      &:before {

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    .c-payment-solution {
      border-radius: 1rem;

      &__content {
        grid-area: 1 / 1;
      }

      &__picture {
        border-radius: 1rem;
        grid-area: 1 / 1;

        &.c-payment-solution__picture--gradient {
          &:before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(2, 47, 78, 0.95) 37.19%, rgba(46, 43, 38, 0) 67.17%);
          }
        }

        img {

          aspect-ratio: 150 / 255;

          @include media-breakpoint-up(md) {
            aspect-ratio: 150 / 240;
          }

          @include media-breakpoint-up(xl) {
            aspect-ratio: 96 / 125;
          }
        }
      }

      position: relative;
      transform-style: preserve-3d;
      will-change: transform;
      perspective: 1000px;
      transition: rotate .6s ease-in-out,
      perspective .6s ease-in-out;
      transform-origin: center;
      will-change: rotate;
      aspect-ratio: 150 / 255;

      @include media-breakpoint-up(md) {
        aspect-ratio: 150 / 240;
      }

      @include media-breakpoint-up(xl) {
        aspect-ratio: 96 / 125;
      }

      .c-payment-solution-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .6s ease-in-out;
        will-change: transform;
      }

      &__front {
        position: absolute;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        overflow: auto;
        aspect-ratio: 150 / 255;

        @include media-breakpoint-up(md) {
          aspect-ratio: 150 / 240;
        }

        @include media-breakpoint-up(xl) {
          aspect-ratio: 96 / 125;
        }
      }

      &__back {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        will-change: transform;
        border-radius: 1rem;

        &-content {
          overflow: auto;
          aspect-ratio: 150 / 255;

          @include media-breakpoint-up(md) {
            aspect-ratio: 150 / 240;
          }

          @include media-breakpoint-up(xl) {
            aspect-ratio: 96 / 125;
          }
        }
      }

      &:hover {
        .c-payment-solution-inner {
          transform: rotateY(180deg);
        }
      }
    }
  }

  &__slider {

    &-buttons {

      .btn-arrow {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        margin: 0;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}
