<style type="text/css">
  .ni-template-404__bg {
    opacity: 0.35;
  }
</style>

<div class="template-404 py-14 pb-md-20 pt-md-26 ni-template-404 position-relative">
  <div class="c-gradient--primary d-block position-absolute inset-0 w-100 h-100 ni-template-404__bg"></div>
  <div class="container z-1 position-relative">
    <div class="row">
      <div class="col text-center text-navy">
        <p class="h3">
          {{ 'templates.404.subtext' | t }}
        </p>
        <h1 class="title h2 my-10">
          {{ 'templates.404.title' | t }}
        </h1>
        <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary mt-0">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  </div>
</div>
